﻿@model Nop.Web.Areas.Admin.Models.BulkOrder.TopluTalepListModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.BulkOrder").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("BulkOrder");
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.taleplist)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
