﻿@model Nop.Web.Areas.Admin.Models.BulkOrder.TopluTalepModel

<h4>TopluTalepModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TopluTalepAdd">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BulkOrderStatusId" class="control-label"></label>
                <input asp-for="BulkOrderStatusId" class="form-control" />
                <span asp-validation-for="BulkOrderStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BulkOrderStatusEnum" class="control-label"></label>
                <input asp-for="BulkOrderStatusEnum" class="form-control" />
                <span asp-validation-for="BulkOrderStatusEnum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BulkOrderCreatedOnUtc" class="control-label"></label>
                <input asp-for="BulkOrderCreatedOnUtc" class="form-control" />
                <span asp-validation-for="BulkOrderCreatedOnUtc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
