﻿@model Nop.Plugin.Widgets.Whatsapp.Models.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="WidgetsWhatsapp" asp-action="Configure" method="post">
    <div class="card card-default">
        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="Number_OverrideForStore" asp-input="Number" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="Number" />
                </div>
                <div class="col-md-9">
                    <nop-editor placeholder="90506114885" asp-for="Number" />
                    <span asp-validation-for="Number"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="Message_OverrideForStore" asp-input="Message" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="Message" />
                </div>
                <div class="col-md-9">
                    <nop-editor placeholder="Mesajınız.." asp-for="Message" />
                    <span asp-validation-for="Message"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    &nbsp;
                </div>
                <div class="col-md-9">
                    <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                </div>
            </div>
        </div>
    </div>
</form>