﻿@model Nop.Plugin.Widgets.Whatsapp.Models.ConfigurationModel

<a style="position:fixed; bottom:20px; right:20px;z-index:100;" href="@Html.Raw("https://api.whatsapp.com/send/?phone=" + Model.Number + "&text=" + Model.Message)" target="_blank">
    <img src="~/Plugins/Widgets.Whatsapp/logo.png" alt="Alternate Text" />
</a>

